<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'main:home' %}">Vegefoods</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{% url 'main:home' %}" class="nav-link">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Shop</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="{% url 'shop:shop' %}">Shop</a>
                        <a class="dropdown-item" href="{% url 'users:wishlist' %}">Wishlist</a>
                        <a class="dropdown-item" href="#">Single Product</a>
                        <a class="dropdown-item" href="{% url 'cart:cart' %}">Cart</a>
                        <a class="dropdown-item" href="{% url 'cart:checkout' %}">Checkout</a>
                    </div>
                </li>
                <li class="nav-item"><a href="{% url 'main:about' %}" class="nav-link">About</a></li>
                <li class="nav-item"><a href="{% url 'blog:blog' %}" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="{% url 'main:contacts' %}" class="nav-link">Contact</a></li>
                <li class="nav-item cta cta-colored"><a href="{% url 'cart:cart' %}" class="nav-link">Cart<span
                        class="icon-shopping_cart"></span>[0]</a></li>

                <li class="nav-item dropdown">
                    {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">{{user.username}}</a>
                    {% else %}
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Account</a>
                    {% endif %}
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        {% if not user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'users:register' %}">Register</a>
                        <a class="dropdown-item" href="{% url 'users:auth' %}">Login</a>
                        {% else %}
                        <a class="dropdown-item" href="{% url 'users:logout' %}">Exit</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>